.react-pdf__Page__canvas {
    margin: auto;
    margin-bottom: 55px;
    max-width: 1000px;
    width: 97% !important;
    height: auto !important;
    background-color: transparent !important;
}

.react-pdf__Page__textContent {
    left: 0px !important;
    background-color: transparent !important;

}

.pdfNavButtons {
    margin-bottom: 75px;
}
